<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".acitivities.base.BaseApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MahaMillateApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".acitivities.ui.organisation.OrganisationRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.organisation.OrganisationMainActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.organisation.blog.OrganisationBlogActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.organisation.videos.OrganisationVideosActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.organisation.profile.OrganisationAboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.organisation.profile.OrganisationHelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.organisation.profile.OrganisationPrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.organisation.news.OrganisationNewsActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.SelectUserActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.profile.HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.profile.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.profile.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.MobileCheckActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.base.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.quiz.QuizScoreActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.quiz.QuizQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.quiz.QuizShareActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.quiz.QuizCertificateActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.quiz.QuizLevelsActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.quiz.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.quiz.QuizMainActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.videos.VideosActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.blog.BlogActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.SelectLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.OtpCheckActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".acitivities.ui.user.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>